/* 共通 */
.main__wrap
{
    width: 1150px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0 auto;
}
ul,li,h1,h2,h3,h4,h5,p,dl,dt,dd
{
    padding: 0;
    margin: 0;
}
li
{
    list-style: none;
}
a:hover
{
    opacity: 0.6;
}
.Gothic_Font
{
    font-family: 游ゴシック, YuGothic, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo, sans-serif;
}
body
{
    font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
    min-width: 1150px;
}
body *
{
    box-sizing: border-box;
}
/* header */
#header
{
    padding: 15px 0;
    background: #0068b4;
}
.LP_header_h2
{
    text-align: center;
}
/* section01 */
.section01
{
    background: url(../images/common/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 55px;
}
.Nas__ttl
{
    font-size: 36px;
    color: #185d9b;
    font-weight: bold;
    padding-top: 25px;
    text-align: center;
}
.section01__title
{
    text-align: center;
    font-size: 44px;
    font-weight: bold;
    padding-bottom: 30px;
}
.section01_dl
{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    flex-wrap: wrap;
}
.section01_dl dt
{
    width: 50%;
    text-align: center;
}
.section01_dl dd 
{
    width: 50%;
}
.section01_dl .title
{
    font-size: 32px;
    font-weight: bold;
    padding: 10px 0;
    line-height: 1.2;
}
.section01_dl #myInput
{
    width: 80px;
    padding: 0;
    margin: 0;
    border: 0;
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.Cuppon__Block 
{
    text-align: center;
    color: #ffffff;
    background: url(../images/common/blueback.png);
    padding: 10px 0 20px;
    background-repeat: no-repeat;
    background-size: cover;
}
.Cuppon__Block button
{
    padding: 5px 0 15px;
}
.Cuppon__Block button:focus {
	outline:0;
    border: none;
}
.Cuppon__Block .text
{
    font-size: 18px;
    font-weight: bold;
}
.Cuppon__Block .code
{
    font-weight: bold;
    font-size: 30px;
}
.section01_dl .text_detail
{
    line-height: 1.5;
    padding-top: 15px;
}
/* section2 */
.section02
{
    padding: 85px 0 20px;
}
.LP__title__text .ja
{
    font-size: 44px;
    font-weight: bold;
}
.LP__title__text .en
{
    font-size: 20px;
    font-family: Helvetica;
}
.section02 .LP__title__text .en
{
    margin-left: -10px;
}
.LP__title__text::after
{
    content: "";
    background: url(../images/common/under_line.png);
    width: 40px;
    height: 7px;
    display: block;
    margin-top: -5px;
}
.Classification__Block
{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.Classification__Block figure
{
    overflow: hidden;
}
.Classification__Block figure img 
{
    -webkit-transition: -webkit-transform 1s cubic-bezier(.165, .84, .44, 1);
    transition: -webkit-transform 1s cubic-bezier(.165, .84, .44, 1);
    transition: transform 1s cubic-bezier(.165, .84, .44, 1);
    transition: transform 1s cubic-bezier(.165, .84, .44, 1), -webkit-transform 1s cubic-bezier(.165, .84, .44, 1);
    overflow: hidden;
}
.Classification__Block a:hover figure img 
{
    -webkit-transform: matrix(1.07, 0, 0, 1.07, 0, 0);
    transform: matrix(1.07, 0, 0, 1.07, 0, 0)
}
.Classification__Block a 
{
    display: block;
    position: relative;
}
.Classification__Block .child 
{
    display: flex;
    justify-content: space-between;
    background: rgba(0,0,0,0.5);
    padding: 10px 7px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.Classification__Block .title
{
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    text-shadow: 0px 2px #000;
    letter-spacing: -1.5px;
    font-family: 游ゴシック, YuGothic, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo, sans-serif;
    position: relative;
    display: block;
    width: 100%;
}
.Classification__Block .big .title
{
    text-shadow: 0px 3px #000;
}
.Classification__Block .title::after
{
    content: "";
    background: url(../images/common/arrow2.png);
    width: 24px;
    display: block;
    position: absolute;
    top: calc(50% - 10px);
    right: 0px;
    height: 23px;
}
.Classification__Block .big .title::after
{
    content: "";
    background: url(../images/common/arrow1.png);
    width: 34px;
    height: 23px;
    display: block;
    position: absolute;
    top: calc(50% - 12px);
    right: 3px;
}
.Classification__Block li 
{
    padding-bottom: 40px;
    width: 257px;
}
.Classification__Block li.big 
{
    width: 352px;
}
/* section03 */
.section03
{
    background: #f6f6f6;
    padding: 85px 0;
}
.Pick__items__Slider
{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
.Pick__items__Slider a 
{
    display: block;
    color: #000;
    transition: 0.5s;
}
.Pick__items__Slider .child
{
    word-break: break-all;
    display: block;
}
.Pick__items__Slider li 
{
    width: calc(25% - 12px);
    max-width: 262px;
    margin-right: 15px;
    outline: none;
    background: none;
}
.Pick__items__Slider li:focus,
.Pick__items__Slider li:hover,
.Pick__items__Slider li a,
.Pick__items__Slider li a :hover
{
    outline: none;
    background: none;
}
.Pick__items__Slider li:focus:hover
{
    outline: none;
}
.pick__items__name
{
    font-size: 14px;
    font-weight: bold;
    min-height: 66px;
}
.pick__items__price
{
    font-size: 22px;
    font-weight: bold;
}
.pick__items__price span
{
    font-size: 18px;
    padding-left: 5px;
}
.Pick__items__Slider .child
{
    padding: 15px;
}
.Pick__items__Slider figure
{
    border: 1px solid #c9c9c9;
    background: #fff;
    text-align: center;
    overflow: hidden;
}
.Pick__items__Slider figure img 
{
    width: 100%;
    -webkit-transition: -webkit-transform 1s cubic-bezier(.165, .84, .44, 1);
    transition: -webkit-transform 1s cubic-bezier(.165, .84, .44, 1);
    transition: transform 1s cubic-bezier(.165, .84, .44, 1);
    transition: transform 1s cubic-bezier(.165, .84, .44, 1), -webkit-transform 1s cubic-bezier(.165, .84, .44, 1);
    overflow: hidden;
}

.Pick__items__Slider a:hover
{
    opacity: 1;
}
.Pick__items__Slider a:hover figure
{
    box-shadow: -1px 1px 4px 2px #e1e1e1;
    border-color: #fff;
    transition: 0.5s;
}
.Pick__items__Slider a:hover figure img 
{
    -webkit-transform: matrix(1.1, 0, 0, 1.1, 0, 0);
    transform: matrix(1.1, 0, 0, 1.1, 0, 0);
    opacity: 0.6;
}
.Pick__items__Slider a:hover .pick__items__more img 
{
    opacity: 0.6;
}
.Pick__items__Slider a:hover .child
{
    color: #fff;
    background: #000;
    box-shadow: -1px 1px 4px 2px #e1e1e1;
    transition: 0.5s;
}
.pick__items__more
{
    padding-top: 30px;
    text-align: right;
}
.Pick__items__Slider .prev-arrow
{
    position: absolute;
    top: 105px;
    left: -25px;
    z-index: 999;
}
.Pick__items__Slider .next-arrow
{
    position: absolute;
    top: 105px;
    right: -25px;
    z-index: 999;
}
/* フッター▼ */
#footer {
    background: #000000;
    font-family:游ゴシック, "Yu Gothic", 游ゴシック体, YuGothic, sans-serif;
    font-size:15px;
    font-weight: normal;
}

#footer nav.pc {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

#footer a {
    text-decoration: none;
    color: #ffffff;
}

#footer h2 {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}

#footer ul {
    display: inline-block;
    margin-top: 18px;
    vertical-align: top;
}

#footer ul li {
    font-size: 12px;
    margin-bottom: 12px;
}

#footer section.social {
    border-left: 1px solid #222222;
}

#footer p {
    font-size: 12px;
    color: #ffffff;
    text-align: center;
}

#footer ul.ico_social {
    text-align: center;
    margin: 15px auto;
    width: 200px;
}

#footer ul.ico_social li {
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}

#footer .copyright,
#footer_mypage .copyright {
    background: #222222;
}

#footer .copyright p,
#footer_mypage .copyright p {
    font-size: 12px;
    color: #999999;
    padding: 18px 0px;
    margin: 0px auto;
    text-align: center;
    border-top: 1px solid #323232;
}

.only__sp {
    display: none;
}

/* フッター▲ */
.fadein
{
    overflow: hidden;
}
.fadein li
{
    opacity: 0;
    transition: 1.5s; 
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
}
.fadein li:nth-child(2) {
    transition-delay: 0.5s;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
}
.fadein li:nth-child(3) {
    transition-delay: 1.5s;
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
}
.fadein li:nth-child(4) {
    transition-delay: 2s;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
}
.fadein li:nth-child(5) {
    transition-delay: 2.5s;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
}
.fadein li:nth-child(6) {
    transition-delay: 3s;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
}
.fadein li:nth-child(7) {
    transition-delay: 3.5s;
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
}
.fadein li:nth-child(8) {
    transition-delay: 4s;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
}
.fadein li:nth-child(9) {
    transition-delay: 4.5s;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
}
.fadein li:nth-child(10) {
    transition-delay: 5s;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
}
.fadein li:nth-child(11) {
    transition-delay: 5.5s;
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
}
.fadein li:nth-child(12) {
    transition-delay: 6s;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
}

.fadein li:nth-child(13) {
    transition-delay: 6.5s;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
}
.fadein li:nth-child(14) {
    transition-delay: 7s;
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
}
.fadein.active li{
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transform: translateY(0)
}
.fadein2
{
    opacity: 0;
    transition: 1.5s; 
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
}
.fadein2.active
{
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

/* ▲共通 */
@media screen and (max-width: 1100px) and (min-width: 750px) {
    #footer nav.pc {
        padding-left: 20px;
    }
    .Pick__items__Slider .next-arrow
    {
        right: 0;
    }
    .Pick__items__Slider .prev-arrow
    {
        left: 0;
    }
    
}

@media screen and (max-width: 750px) {
    .only__sp {
        display: block;
    }

    .only__pc,
    #footer nav.pc {
        display: none;
    }

    /* ---------------------------------------------------------
    3:FOOTER Style
    ----------------------------------------------------------*/
    #footer {
        margin: 0 auto;
        width: 100%;
        text-align: left;
        padding: 0px;
    }

    #footer nav {
        margin-right: 0px;
    }

    #footer nav.only__sp {
        margin: 0 5%;
    }

    #footer nav dl.contmenu {
        text-align: left;
        margin: 0px 0px 15px 0px;
        color: #ffffff;
    }

    #footer nav dl.contmenu dt {
        margin: 0px;
        padding: 15px 0px;
        border-bottom: 1px solid #2d2d2d;
        font-weight: normal;
    }

    #footer nav dl.contmenu dt span {
        display: block;
        text-decoration: none;
        font-size: 15px;
        padding: 6px 0px 4px 0px;
        text-align: left;
        position: relative;
    }

    #footer nav dl.contmenu dt span:after {
        content: '-';
        position: absolute;
        right: 2px;
        top: -1px;
        font-size: 26px;
    }

    #footer nav dl.contmenu dt.active span:after {
        content: '+';
        position: absolute;
        right: 0px;
        top: 4px;
        font-size: 20px;
    }

    #footer nav dl.contmenu dd {
        display: none;
        background: #222222;
        margin: 0 -5%;
    }

    #footer nav dl.contmenu dd li a {
        font-size: 14px;
        display: block;
        padding: 15px 5%;
        color: #cccccc;
        border-bottom: 1px solid #2d2d2d;
        position: relative;
    }

    #footer nav dl.contmenu dd li a:after {
        content: '＞';
        position: absolute;
        right: 5%;
        top: 20px;
        font-size: 10px;
        color: #cccccc;
    }

    #footer ul {
        display: block;
        margin-top: 0;
    }

    #footer nav dl.contmenu li a {
        font-size: 15px;
        display: block;
        padding: 15px 0;
        color: #cccccc;
        border-bottom: 1px solid #2d2d2d;
        position: relative;
    }

    #footer nav dl.contmenu li a:after {
        content: '＞';
        position: absolute;
        right: 2px;
        top: 20px;
        font-size: 10px;
        color: #cccccc;
    }

    #footer nav ul.social {
        text-align: center;
        margin: 0px auto;
        border-bottom: 1px solid #2d2d2d;
        padding: 30px 0px 40px 0px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
    }

    #footer nav ul.social li {
        color: #ffffff;
        font-size: 14px;
        width: 45%;
    }

    #footer nav ul.social li ul.ico_social li {
        width: 25px;
        margin-top: 10px;
    }

    #footer nav div.footer_bottom {
        margin: 15px 0px;
    }

    #footer nav div.footer_bottom ul {
        display: flex;
        justify-content: center;
        padding: 0;
        list-style: none;
    }

    #footer nav div.footer_bottom ul li {
        width: -webkit-calc(100% / 2);
        width: calc(100% / 2);
        padding: 12px 0px;
        font-size: 14px;
        text-align: left;
    }

    #footer nav div.footer_bottom ul li:nth-child(even) {
        border-right: none;
    }

    #footer nav div.footer_bottom ul li a {
        color: #cccccc;
        font-size: 14px;
    }

    #footer ul.ico_social {
        width: 100%;
    }
    /* lp */
    #header
    {
        padding: 3vw 0;
    }
    body,.main__wrap
    {
        width: 100%;
        min-width: inherit;
        padding-left: 0;
        padding-right: 0;
    }
    .LP_header_h2
    {
        width: 85%;
        margin: 0 auto;
    }
    .Nas__ttl
    {
        font-size: 4.7vw;
        padding-top: 3vw;
    }
    .section01
    {
        padding-bottom: 3.5vw;
    }
    .section01__title
    {
        font-size: 5.4vw;
        line-height: 1.2;
        padding-bottom: 3vw;
    }
    .section01_dl
    {
        padding-top: 2vw;
    }
    .section01_dl dt
    {
        width: 100%;
    }
    .section01_dl dd
    {
        width: 100%;
        padding: 3vw 3% 0;
    }
    .section01_dl .title br 
    {
        display: none;
    }
    .section01_dl .title
    {
        font-size: 4.5vw;
    }
    .section01_dl .off__img
    {
        width: 80%;
        margin: 0 auto;
    }
    .Cuppon__Block .code
    {
        font-size: 5.3vw;
    }
    .Cuppon__Block .text
    {
        font-size: 3vw;
        padding-bottom: 1vw;
    }
    .Cuppon__Block button
    {
        width: 55%;
        padding: 1vw 0 3vw ;
    }
    .Cuppon__Block button img 
    {
        max-width: 100%;
    }
    .section01_dl .text_detail
    {
        font-size: 2.5vw;
    }
    .section02
    {
        padding: 7vw 2vw;
    }
    .LP__title__text .ja
    {
        font-size: 6.4vw;
    }
    .LP__title__text .en
    {
        font-size: 3.5vw;
    }
    .section02 .LP__title__text .en
    {
        margin-left: 0;
    }
    .LP__title__text::after
    {
        width: 30px;
    }
    .Classification__Block
    {
        padding-top: 5vw;
    }
    .Classification__Block li
    {
        width: calc(50% - 5px);
        padding-bottom: 5vw;
    }
    .Classification__Block li.big
    {
        width: 100%;
    }
    .Classification__Block li .title
    {
        font-size: 3vw;
    }
    .Classification__Block li.big .title
    {
        font-size: 4.8vw;
    }
    .Classification__Block figure img
    {
        width: 100%;
    }
    .Classification__Block .title::after
    {
        background: url(../images/common/sp/arrow2.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 4vw;
        height: 4vw;
        top: calc(50% - 2.1vw);
    }
    .Classification__Block .big .title::after
    {
        background: url(../images/common/sp/arrow1.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 8vw;
        height: 6vw;
        top: calc(50% - 2.8vw);
    }
    .section03
    {
        padding: 7.5vw 0;
    }
    .section03 .LP__title__text
    {
        padding-left: 4vw;
    }
    .Pick__items__Slider 
    {
        padding: 5vw 2vw 0;
        margin-bottom: 0;
    }
    .Pick__items__Slider li
    {
        margin-right: 1.5vw;
        max-width: calc(34vw - 3vw);
    }
    .Pick__items__Slider li *
    {
        overflow: hidden;
    }
    .Pick__items__Slider .prev-arrow
    {
        width: 7vw;
        max-width: 100%;
        left: 3px;
        top: 16vw;
    }
    .Pick__items__Slider .next-arrow
    {
        width: 7vw;
        max-width: 100%;
        right: 3px;
        top: 16vw;
    }
    .pick__items__name
    {
        font-size: 2vw;
        min-height: 55px;
    }
    .pick__items__price
    {
        font-size: 3.5vw;
    }
    .pick__items__price span
    {
        font-size: 2.5vw;
    }
    .Pick__items__Slider .child
    {
        padding: 3vw 2vw;
    }
    .pick__items__more
    {
        width: 65%;
        margin: 0 0 0 auto;
        padding-top: 10px;
    }

}

@media only screen and (max-width: 414px) and (min-width: 320px) {
   
}
